apex==0.1
torch=1.8.1
h5py==3.2.1
mpi4py==3.0.3
warmup-scheduler @ git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git@6b5e8953a80aef5b324104dc0c2e9b8c34d622bd
mlperf-logging @ git+https://github.com/mlperf/logging.git@501bbde47f005d67c6357da6e5c1931eab339f8e
